footer {
    background-color: rgb(21 18 20);
    color: white;
}
footer .row {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .row div {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
footer a{
    color: white;
    text-decoration: underline;
}

footer a:hover {
    font-weight: bold;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
}