@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    box-sizing: border-box;
    font-family: "Orbitron", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 100vh;
    width: 100%;
    background-image: url(img/header2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.container {
    width: 75%;
}

.header {
    height: 100vh;
    width: 100%;
}

.header .container {
    height: 100%;
}
.header .row {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.header h1, .header h4, .header i {
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes i {
    0% {
        top: 0;
    }
    25% {
        top: -3px;
    }
    50% {
        top:0px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 0;
    }
}
header i {
    position: relative;
    animation: i 0.75s linear 0s infinite;
}
a {
    text-decoration: none;
}

.intro {
    height: 400px;
}

.intro p {
    height: 100%;
}

.links {
    background-color:rgb(21 18 20);
    color: white;
}

section .row {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.rows {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.site {
    height: 500px;
    width: 48%;
    text-align: center;
    border: 2px solid transparent;
    transition: border 0.3s ease-in-out;
    border-right-width: 4px;
    border-bottom-width: 2px;
    border-top-width: 0;
    border-left-width: 0;
    margin-top: 10px;
}

.site:hover {
    border-color: rgb(120, 130, 200);
    border-right-width: 4px;
    border-bottom-width: 2px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-style: solid;
}
section img {
    height: 300px;
    width: 300px;
}

@media screen and (max-width: 768px) {
    .rows {
        flex-direction: column;
        align-items: center;
    }

    .site {
        width: 100%;
    }

    section img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }
}