@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    box-sizing: border-box;
    font-family: "Orbitron", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.scroll {
    display: flex;
    overflow-x: auto;
}

.scroll img {
    height: 100px;
    width: 100px;
}