@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

main .container {
    width: 75%;
    text-align: center;
}

main .object {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

main .words {
    width: 300px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

main .type {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    flex: 0 0 auto;
}

main .scroll {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    scroll-snap-type: x mandatory;
    padding: 10px;
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 255, 255) rgb(21, 18, 20);
    max-width: 100%;
    white-space: nowrap;
    scroll-behavior: smooth;
    justify-content: flex-start;
    align-items: center;
}

main .scroll::before {
    content: "";
    flex: 0 0 10px;
}

main .scroll div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 320px;
    flex: 0 0 auto;
    text-align: center;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    scroll-snap-align: start;
}

main .scroll img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
}

section {
    background-color: rgb(21, 18, 20);
    color: white;
}
